<?xml version="1.0"?>

<launch>
<param name="/use_sim_time" value="false"/>

<!-- <param name="hokuyo_port_1" value="$(arg my_foo)" /> -->
<param name="hokuyo_port_1" value="/dev/ttyACM0" />
<param name="hokuyo_port_2" value="/dev/ttyACM1" />


<node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node"
   output="screen"/>
<node name="hokuyo_node_2" pkg="hokuyo_node" type="hokuyo_node_2"
   output="screen"/>

<node name="ira_laser_tools" pkg="ira_laser_tools" type="laserscan_multi_merger"/>
<node name="rviz" pkg="rviz" type="rviz" args="-d /home/user/ros/multi_laser/src/20201204.rviz"/>
<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
